<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.droidstack"
      android:versionCode="12"
      android:versionName="1.0-8b"
      android:installLocation="auto">
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name=".activity.SitesActivity"
        	android:label="@string/app_name"
        	android:configChanges="orientation|keyboard|keyboardHidden"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SiteActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".activity.QuestionsActivity" android:configChanges="orientation|keyboard|keyboardHidden">
        	<intent-filter
        		android:icon="@drawable/icon"
        		android:label="@string/intent_questions">
        		<action android:name="android.intent.action.VIEW" />
        		<action android:name="android.intent.action.PICK" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<data 
        			android:scheme="droidstack"
        			android:host="questions" />
        		<data android:path="/all" />
        		<data android:path="/search" />
        		<data android:path="/unanswered" />
        		<data android:path="/user" />
        		<data android:path="/favorites" />
        	</intent-filter>
        </activity>
        <activity android:name=".activity.AnswersActivity" android:configChanges="orientation|keyboard|keyboardHidden">
	        <intent-filter
	        	android:icon="@drawable/icon"
	        	android:label="@string/intent_answers">
	        	<action android:name="android.intent.action.VIEW" />
	        	<action android:name="android.intent.action.PICK" />
	        	<category android:name="android.intent.category.DEFAULT" />
	        	<data 
	        		android:scheme="droidstack"
	        		android:host="answers" />
	        	<data android:path="/user" />
	        </intent-filter>
	    </activity>
	    <activity android:name=".activity.TagsActivity" android:configChanges="orientation|keyboard|keyboardHidden">
	        <intent-filter
	        	android:icon="@drawable/icon"
	        	android:label="View tags">
	        	<action android:name="android.intent.action.VIEW" />
	        	<action android:name="android.intent.action.PICK" />
	        	<category android:name="android.intent.category.DEFAULT" />
	        	<data 
	        		android:scheme="droidstack"
	        		android:host="tags" />
	        	<data android:path="" />
	        </intent-filter>
	    </activity>
	    <activity android:name=".activity.UsersActivity" android:configChanges="orientation|keyboard|keyboardHidden">
	        <intent-filter
	        	android:icon="@drawable/icon"
	        	android:label="View users">
	        	<action android:name="android.intent.action.VIEW" />
	        	<action android:name="android.intent.action.PICK" />
	        	<category android:name="android.intent.category.DEFAULT" />
	        	<data 
	        		android:scheme="droidstack"
	        		android:host="users" />
	        	<data android:path="" />
	        </intent-filter>
	    </activity>
        <activity android:name=".activity.QuestionActivity"
        	android:theme="@android:style/Theme.Light"
        	android:configChanges="orientation|keyboard|keyboardHidden"
        >
        	<intent-filter
	        	android:icon="@drawable/icon"
	        	android:label="@string/intent_answers">
	        	<action android:name="android.intent.action.VIEW" />
	        	<category android:name="android.intent.category.DEFAULT" />
	        	<data 
	        		android:scheme="droidstack"
	        		android:host="question"
	        		android:path="" />
	        </intent-filter>
	    </activity>
	    <activity android:name=".activity.UserActivity" android:configChanges="orientation|keyboard|keyboardHidden">
	    	<intent-filter
	    		android:icon="@drawable/icon"
	    		android:label="@string/intent_user">
	    		<action android:name="android.intent.action.VIEW" />
	        	<category android:name="android.intent.category.DEFAULT" />
	        	<data 
	        		android:scheme="droidstack"
	        		android:host="user"
	        		android:path="" />
	    	</intent-filter>
	    </activity>
	    <activity android:name=".activity.ReputationActivity" android:configChanges="orientation|keyboard|keyboardHidden">
	    	<intent-filter
	    		android:icon="@drawable/icon"
	    		android:label="@string/intent_rep">
	    		<action android:name="android.intent.action.VIEW" />
	        	<category android:name="android.intent.category.DEFAULT" />
	        	<data 
	        		android:scheme="droidstack"
	        		android:host="reputation"
	        		android:path="" />
	    	</intent-filter>
	    </activity>
	    <activity android:name=".activity.PreferencesActivity" android:label="Preferences" />
	    
	    <receiver android:name=".receiver.BootReceiver">
	    	<intent-filter>
	    		<action android:name="android.intent.action.BOOT_COMPLETED" />
	    	</intent-filter>
	    </receiver>
	    
	    <service android:name=".service.NotificationsService">
	    	<intent-filter>
	    		<action android:name="org.droidstack.NotificationService" />
	    	</intent-filter>
	    </service>
	    
	    <service android:name=".service.SitesService" />
    </application>
    <uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest> 